<div class="main">
  <app-nav-header></app-nav-header>
  <div class="project-modal">
    <!-- <div class="project-modal" *ngIf="jcloudData.ActiveProject"> -->
      <ul class="breadcrumbs">
        <a [routerLink]="['']">jaclynonacloud</a><span>&gt;</span><span>Project Name</span>
      </ul>
      <header>
          <h2 class="name">Project Name</h2>
          <div class="category">Category</div>
          <div class="tags">C#, C#, C#, C#</div>
      </header>
      <div class="display-image">
          <img src="img/projects/celestials.png" alt="display image">
      </div>
      <aside class="details">
          <div class="details">
              <div><b>Project Status</b><span>Active</span></div>
              <div><b>Project Start</b><span>xx/xx/xxxx</span></div>
          </div>
          <div class="links">
              <div><b>Github</b><a href="#">name.github.io</a></div>
              <div><b>External</b><a href="#">external</a></div>
              <div><b>Download</b><a href="#">download</a></div>
          </div>
      </aside>
      <div class="description">
          lorem ipsum
      </div>
      <div class="screenshots">
          <img src="#" alt="screenshot">
      </div>
    <!-- </div> -->
</div>