<!-- Search -->
<nav class="search">
  <label class="check-group">
    <input class="check" type="checkbox" checked>
    <div class="search-group">
      <div class="cap-front">
        <div class="search__button"></div>
      </div>
      <input class="search__input" type="text" placeholder="celestials">
      <div class="cap-back">
        <select class="search__select" id="search-select">
          <option value="">All</option>
          <option value="web">Web</option>
          <option value="desktop">Desktop</option>
          <option value="unity">Unity</option>
          <option value="flash">Flash</option>
          <option value="3d">3D</option>
        </select>
        <button class="search__submit-button">Go</button>
      </div>
    </div>
  </label>
</nav>
<!-- /Search -->