<!-- Search -->
<nav class="search cap-front">
  <label class="check-group">
    <input class="check" type="checkbox" checked>
    <div class="search-group">
      <input class="search__input" type="text" placeholder="Search Projects...">
      <div class="cap-back">
        <select class="search__select" id="search-select">
          <option value="">All</option>
          <option value="web">Web Apps</option>
          <option value="game">Games</option>
          <option value="3d">3D Models</option>
        </select>
        <button class="search__submit-button">Search</button>
      </div>
    </div>
  </label>
</nav>
<!-- /Search -->