<div class="featured-text" *ngIf="!isSearching">Featured</div>
<div class="projects" *ngIf="!isSearching">
    <!-- Get showcased projects -->
    <div class="project" *ngFor="let proj of showcases">
        <a [routerLink]="['project', proj.name || 'empty']">
            <div class="project__image-container">
                <img class="project__image" [src]="proj.cover" [alt]="proj.name || ''">
            </div>
            <div class="project__content" [innerHTML]="proj.name || 'Coming Soon'"></div>
        </a>
    </div>
</div>


<div class="featured-text padding-top" *ngIf="isLoadingMore || hasLoadedAll || isSearching">Projects</div>
<div class="projects leftovers" *ngIf="isLoadingMore || hasLoadedAll || isSearching">
    <!-- Get leftover projects -->
    <div class="project" *ngFor="let proj of projects">
        <a [routerLink]="['project', proj.name || 'empty']">
            <div class="project__image-container">
                <img class="project__image" [src]="proj.cover" [alt]="proj.name || ''">
            </div>
            <div class="project__content" [innerHTML]="proj.name || 'Coming Soon'"></div>
        </a>
    </div>
</div>

<!-- More -->
<div class="button" (click)="loadMore()" *ngIf="!hasLoadedAll">
    <h3>More</h3>
</div>
<!-- /More -->