<div class="projects">
    <!-- PROJECT -->
    <!-- <div class="project" *ngFor="let proj of jcloudData.Showcases"> -->
    <!-- <div class="project" *ngFor="let proj of [{name:'hello'}, {name:'hi'}, {name:'hello'}, {name:'hi'}, {name:'yes'}, {name:'hello'}, {name:'hi'}, {name:'yes'}, {name:'hello'}, {name:'hi'}, {name:'yes'}, {name:'hello'}, {name:'hi'}, {name:'yes'}, {name:'hello'}, {name:'hi'}, {name:'yes'}, {name:'hello'}, {name:'hi'}, {name:'yes'}]">
        <div class="image-container">
            <img class="project__image image" src="https://dummyimage.com/600x400/000/fff.png" [alt]="proj.name" *ngIf="proj.imageSrc"> -->
            <!-- <img class="project__image image" src="./assets/images/projects/{{ proj.imageSrc }}" [alt]="proj.name" *ngIf="proj.imageSrc"> -->
        <!-- </div> -->
    <!-- </div> -->
    <!-- /PROJECT -->
    <div class="project project--med"></div>
    <div class="project project--long"></div>
    <div class="project project--long"></div>
    <div class="project project--row"></div>
    <div class="project project--row"></div>
    <div class="project project--lg"></div>
    <div class="project project--sm"></div>
    <div class="project project--sm"></div>
</div>
<!-- Separator -->
<div class="separator">
    <h3>More</h3>
</div>
<!-- /Separator -->