@import './../../../globals';

.separator {
    background: $mainColour;
    width: 35%;
    color: white;
    padding: 5px 0;
    margin: 5px auto;
    text-align: center;

    &::after {
        content: '';
        background: $highlightColour;
        width: 400px;
        height: 30px;
    }
}

.projects {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 130px;
    grid-gap: 5px;
    width: 100%;
    padding: 0 5px;
    box-sizing: border-box;

    @media #{$size-tablet} {
        height: -moz-max-content;
        height: max-content;
        padding: 5px;
        max-height: 300px;
        overflow: hidden;

        & > * {
            grid-row: span 1 !important;
            grid-column: span 4 !important;
        }
    }


    .project {
        width: 100%;
        height: 100%;
        background: $highlightColour;
        &__image-container {
            width: 100%;
            // overflow: hidden;
        }
        &__image { 
            max-width: 100%;
            object-fit: fill; 
            // margin: 0 auto;
        }

        &--sm { 
            grid-row: span 1;
            grid-column: span 1;
        }
        &--med { 
            grid-row: span 2; 
            grid-column: span 2; 
        }
        &--lg { 
            grid-row: span 2; 
            grid-column: span 3; 
        }
        &--long { 
            grid-row: span 1; 
            grid-column: span 2; 
        }
        &--row { 
            grid-row: span 1; 
            grid-column: span 4; 
        }
    }
}