<div class="sidebar">
  <div class="icon">
    <img class="icon__image" src="./../../assets/images/icon.png" alt="icon">
  </div>
  <div class="sidebar__details">
    <span class="name">Jaclyn Staples</span>
    <span class="nick">jaclynonacloud</span>
  </div>
  <div class="sidebar__links">
    <a href="http://github.com/jaclynonacloud">Github</a>
    <a href="https://www.linkedin.com/in/jaclynstaples/">Linkedin</a>
    <a href="https://discord.gg/eHePQhr">Discord</a>
    <a href="http://twitter.com/jaclynonacloud">Twitter</a>
    <a href="http://deviantart.com/jaclynonacloud">Deviantart</a>
    <a href="mailto:jaclynonacloud@gmail.com">Email</a>
  </div>
  <div class="sidebar__links usernames">
    <b>Usernames</b>
    <div>Discord : jaclynonacloud#8732</div>
  </div>
  <div class="sidebar__links about">
    <span>Web Developer</span>
    <span>Nova Scotia, Canada</span>
  </div>
  <div class="btnNext">&#9207;</div>
</div>