@import "../../globals";


.sidebar {
    .btnNext {
        display: none;
        text-indent: 2.5px;
        margin: 0 auto;
    }

    @media #{$size-tablet} {
        .btnNext {
            position: relative;
            bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 15px;
            background: grey;
            content: "\23F7";
            width: 50px;
            height: 50px;
            color: #1b1b1b;
            font-size: 1.3em;
            border-radius: 50%;
            &:hover {
                background: $secondaryColour;
            }
        }
    }

   

    .icon {
        background: $mainColour;
        @extend %display-flex-center;
        margin: 35px 0 10px 0;
        border-radius: 50%;
        overflow: hidden;

        @media #{$size-tablet} {
            max-width: 90%;
            margin: 0 auto;
        }

        &__image {
            max-width: 100%;
        }
    }

    &__details {
        @extend %display-flex-center;
        flex-flow: column;
        justify-content: space-around;
        margin-bottom: 10px;

        .name {
            font-size: 1.2em;
        }
        .nick {
            font-size: 0.9em;
        }
    }

    &__links {
        @extend %display-flex;
        flex-flow: column;
        align-items: center;
        width: 100%;
        margin: 0 auto;

        @media #{$size-tablet} {
            max-width: 90%;
        }

        a {
            background: $mainColour;
            @extend %display-flex-center;
            width: 100%;
            min-height: 25px;
            margin: 3px 0;
            color: white;
            transition: ease border-radius 0.25s;

            &:hover {
                background: mix($mainColour, $secondaryColour, 80);
                border-radius: 8px;
            }
        }

        &.usernames {
            margin-top: 15px;
            text-align: center;
            font-size: 0.8em;
        }

        &.about {
            margin-top: 25px;
            font-size: 0.9em;
        }
    }
}