@import './../../../globals';

.nav {
    position: relative;
    @extend %display-flex;
    justify-content: space-between;
    align-items: center;
    background: $highlightColour;
    width: 100%;
    padding: 5px 0;
    border-bottom: solid 6px $mainColour;

    .icon {
        position: relative;
        top: 45px;
        left: 0px;
        background: $mainColour;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin: 0 10px;       
        margin-top: -45px;

        img {
            width: 85px;
            height: 85px;
            margin: -6px -3px;
        }
    }


    .brand {
        align-self: flex-end;
        color: white;
        font-size: 1.2em;
    }


    @media #{$size-tablet} {
        flex-flow: column-reverse;
        justify-content: flex-start;
        align-content: center;
        padding: 0;

        .icon {
            // top: 5px;
            left: unset;
            margin-bottom: 35px;
        }
    }


    app-search {
        flex: 1;
        justify-self: flex-end;
        max-width: 800px;

        @media #{$size-tablet} {
            max-width: unset;
        }
        @media #{$size-phone} {
            max-width: unset;
            width: 95%;
        }
    }
}